<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>An Error Occurred: {{ status_text }}</title>
  </head>
  <body>
    <h1>Oops! Voila une Erreur !</h1>
    <h2>Le serveur indisue une erreur de type :"{{ status_code }} {{ status_text }}".</h2>

    <div>
      Quelque chose ne s'est pas déroulé correctement...? Merci de me faire 
      parvenir un email en me précisant à quel endroit du site vous souhaitiez accéder
      au moment que cette erreur survienne! Le nécéssaire se fait afin de corriger
      le bug!! Merci!
    </div>
  </body>
</html>